<o-form-layout-manager attr="ServiceBooking" mode="tab" title="SERVICEBOOKING">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="ServiceBookingTable" 
            service="ServiceBooking" 
            entity="ServiceBooking" 
            title="SERVICEBOOKING"
            keys="id"
            columns="id;car_id;service_package_id;booking_date;scheduled_date" 
            header-actions="R;D"
            visible-columns="id;car_id;service_package_id;booking_date;scheduled_date"  
            sort-columns="id" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column attr="car_id" title="car_id">
    <o-table-cell-renderer-service attr="car_id" 
        service="Car" entity="CarType" columns="id;id"
        parent-keys="id:car_id"
        value-column="id" keys="car_id"
        visible-columns="id" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column attr="service_package_id" title="service_package_id">
    <o-table-cell-renderer-service attr="service_package_id" 
        service="ServicePackage" entity="ServicePackageType" columns="id;name"
        parent-keys="id:service_package_id"
        value-column="name" keys="service_package_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-date-input #booking_date attr="booking_date" type="timestamp" label="booking_date" editable="no" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
            
            <o-date-input #scheduled_date attr="scheduled_date" type="timestamp" label="scheduled_date" editable="no" required="yes" format="LL" fxFlex="20%" class="form-field"></o-date-input>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>